
<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href="CheyneKevin.css"/>
    </head>
    <body>
        <div class="header">
            <p>ZY Artwork</p>
            <ul>
                <li><a href="http://www.facebook.com"><img src="TemplateImages/FB-f-Logo__blue_29.png" width=25px height=25px></a></li>
                <li><a href="http://www.twitter.com"><img src="TemplateImages/Twitter_logo_blue.png" width=25px height=25px></a></li>
                <li><a href="http://www.youtube.com"><img src="TemplateImages/YouTube-social-squircle_red_24px.png" width=25px height=25px></a></li>
                <li><a href="http://www.instagram.com"><img src="TemplateImages/851582_417171855069447_55288290_n.png" width=25px height=25px></a></li>  
            </ul>
        </div>

        <div id="content">
			<div id="content-body">
			</div>
            <div>
				<ul id="copyright">
					<li style="padding-right:18em">Designed by: Cheyne Funakoshi and Kevin Yean</li>
					<li>&copy: ZY Artwork 2015-2015 All Rights Reserved</li>
				</ul>
			</div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class ="footer-content">
               <ul>
                <li id="artist">ZY ArtWork</li>
                <li><a href="../PageHome/CheyneKevinHome.html">Home</a></li>
                <li><a href="../PageGallery/CheyneKevinGallery.html">Gallery</a>
                <li><a href="../PageVideo/CheyneKevinVideo.html">Video Art</a>
                <li><a href="../PageBio/CheyneKevinBio.html">Biography</a>
                <li><a href="../PageContact/CheyneKevinContact.html">Contact</a>
            </ul>
        </div>
        </div>
    </body>
</html>